
.profile {
  display: inline-block;
  width: 600px; 
  max-width: 90%; 
  margin: 20px auto;
  border: 3px solid rgb(43, 44, 43);
  border-radius: 24px;
  text-align: center;
  background-color: rgb(240, 240, 240);
  font-size: 1.2em;
  color: gray;
  overflow: hidden;
}

.userImage {
  border-radius: 50%;
  background-color: rgb(61, 60, 60);
  width: 150px; 
  height: 150px; 
  margin: 20px auto;
}

.userName {
  font-size: 2em;
  font-weight: 700;
  color: rgb(61, 60, 60);
  margin-bottom: 20px;
}

.userDescription {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.userPropsList {
  display: flex;
  justify-content: space-around;
  background-color: rgb(192, 192, 192);
  color: black;
  margin: 0; 
  padding: 0; 
  list-style: none; 
}

.propsListItem {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 10px; 
  width: calc(100% / 3);
  border-top: 3px solid grey;
  font-size: 1.2em;
  list-style: none; 
}

.propsListItem:not(:last-child) {
  border-right: 3px solid grey;
}

.boldText {
  font-weight: 600;
}
.container {
  min-height: 100vh; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  box-sizing: border-box;
}
